.containner-image-mana{
    background-color: #0000006e;
    position: fixed !important;
    top: 0px;
    height: 1574px !important;
    width: 86%!important;
}
.btn-upload-img{
   
    height: 40px !important;
    width: 100px !important;
}
.prodress-upload{
    margin-left:3px;
    background-color:gray;
}
.input-name-upload,.input-file{
    width:200px !important;
    margin-right:3px;
    height:40px !important;
}

