body , .active{
    background-color:#dad9d9;
}
.logo img{
    width: 94px;
}
.menu-top li{
   width: 100%;
   text-align: center;
}
.menu-top{    width: 62%;}

.orderform{
    
}
.listroom .card,.listroom .card{
    width: 100%;
}
.promotion-price{
    text-decoration: line-through;
}
.appriciate i{
    color: yellow;
}
.listroom-content{
    border-right: 1px solid gainsboro;
}

footer{    background-color: #7d7b7b;}
footer .row, footer .list-group-item{background-color: #293339;border: none;color: whitesmoke;}
footer  .row:nth-child(2){border-right: 1px solid white;border-left: 1px solid white;}
.subcribe-form form{background-color:white;color:black;}
.language-form{
    border: 1px solid whitesmoke;
    border-radius: 7px;
    max-width: 70%;
    float: right;
}
.language-form img{
    margin-left: 4px;
    max-width: 8%;
    float: left;
}
.language-form select{
    max-width: 80%;
    background-color: #293339;
    border: none;
    color: white;
}
