.decorate-img{
background-color: yellow;
    width: 56%;
    height: 36px;
    float: right;
    clip-path: polygon(0% 0%,25% 50%,50% 0%,75% 50%,100% 0%,100% 12%,75% 60%,50% 12%,25% 60%);
    box-shadow: inset 0px 6px 26px #f30a0a;
}