.active{
    background-color: #088c61 !important;
}
.line{
    border-bottom: 1px dashed;
}

.fixed-set-submit {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 0;
        margin-right: 9% !important;
        margin-top: 50px;
        width: 37px !important;
        -webkit-transition:margin-top  2s; /* For Safari 3.1 to 6.0 */
        transition:margin-top   2s;
    
}
.btn-close{
    height: 30px !important;
    width: 30px !important;
    padding-top: -5px !important;
    background-color: #dc3545;
    color:white;
    border-radius: 50px !important;
    float: right;
}
.btn-close:hover{
    color:black;
    border:2px solid #dc3545a6;
}
.btn-action{
    width: 24%;
    text-align: center;
    background-color: #ffffff00;
    border: 1px solid #1aca6e;
    border-radius: 12px;
    margin-right: 6px;
   
}

.btn-action:hover{
    box-shadow: 0px 0px 5px forestgreen;
    /* background-color: #06030c; */
    animation: btn-action-ani 0.5s  infinite;
}
@keyframes btn-action-ani{
    0%{
        box-shadow: 0px 0px 5px forestgreen;
    }
    50%{
        box-shadow: 0px 0px 20px white;
    }
    100%{
        box-shadow: 0px 0px 5px forestgreen;
    }
  
}
.loading-icon{
    position: fixed;
    z-index: 9;
    right: -1%;
    bottom: 1%;
    width: 17%;
    mix-blend-mode: multiply;
    -webkit-animation: iconLoading 1s infinite; /* Safari 4.0 - 8.0 */
    animation: iconLoading 2s infinite;
}
.text-darkcyan{
    color: darkcyan;
}
.text-valian{
    color:#BD3D3A;
}
.text-darkyellow{
    color:#e6af4b;
}

@keyframes iconLoading {
0%{
    bottom: 1%;
}
50%{
    bottom: 50%;
}
100%{
    bottom: 5%;
}
}








::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    /* background: rgb(1, 56, 73);  */
    background: linear-gradient(120deg, #0e82ee 0%, #140501 100%);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: blue; 
}

